
.container{
  display: flex;
  height: 100vh;
}

.panel{
  background-color: coral;
  width: 20%;
}

.editor{
  background-color: white;
  width: 40%;
}

.editor input,
.editor textarea{
  padding: 10px;
  width: 100%;
}


.preview{
  background-color:white;
  padding: 10px;
  width: 40%;
}

.note{
  padding: 30px 10px;
}

.activeNote{
  background-color: cyan;
}
